.App > .nav-menu,
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex: 0; */
}

.help-item-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* flex: 0; */
}

.App > .navbar-brand {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.background-image {
  background-image: url("/images/background-picture.jpg");
  margin: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}

#search-result {
  flex: 1;
}

.signup {
  width: 50%;
  padding-left: 150px;
}

h1,
.event-overview-heading {
  color: rgb(68, 60, 109);
}

#postal-code {
  color: white;
  font-weight: 600;
}

.user-pic {
  border-radius: 50%;
  object-fit: cover;
}

.toolbox {
  color: #84bc9c;
}

.help-item {
  color: #bda0bc;
}
.guest {
  padding: 3% 3% 0 3%;
}

.event-links {
  color: white;
}

#stuff-input {
  width: 100%;
}
#help-input {
  width: 100%;
}

#pic-input {
  width: 70%;
}

.App > footer {
  background-color: #efefef;
  padding: 0.3rem 0.4rem;
  /* flex: 0; */
}
.App > footer > p {
  margin: 0;
  font-size: 15px;
}

.footer-link {
  text-decoration: none;
  color: black;
}
.footer-link:hover {
  color: #00606b;
  text-decoration: none;
}

#join-button {
  border-color: grey;
  background-color: grey;
  color: white;
}

#joined-button {
  border-color: #2ec6b2;
  background-color: #2ec6b2;
  color: white;
}

.home-navbar {
  background-color: #6c9b9863;
}

#newsfeed {
  min-height: 90vh;
}

#home {
  margin: 0%;
}

#logo-button {
  border: none;
  background-color: transparent;
}

.home-side-nav {
  margin: 5% 15%;
}
#main-page-profile-pic {
  margin: 5%;
}

/* messenger */
.flex-display-container {
  display: flex;
}
#home-nav-button1:hover {
  background-color: #b45375;
  border-color: #b96884;
}

#home-nav-button2:hover {
  background-color: #b45375;
  border-color: #b96884;
}

#home-nav-button3:hover {
  background-color: #b45375;
  border-color: #b96884;
}

#home-nav-button4:hover {
  background-color: #5476ac;
  border-color: #5476ac;
}

#home-nav-button1 {
  background-color: #be5a7d;
  border-color: #bd8196;
  color: white;
}

#home-nav-button2 {
  background-color: #be5a7d;
  border-color: #bd8196;
  color: white;
}

#home-nav-button3 {
  background-color: #be5a7d;
  border-color: #bd8196;
  color: white;
}

#home-nav-button4 {
  background-color: #447bd3;
  border-color: #6d90c9;
  color: white;
}

.message-selector > div:hover {
  background-color: #d5f2e3;
}
.date {
  color: gray;
  font-weight: 600;
}

.bin {
  background-color: transparent;
  border: none;
  size: 50%;
}

.username {
  color: rgb(68, 60, 109);
  font-weight: bold;
}

.text-decoration-none {
  text-decoration: none !important;
}

.bin:hover {
  color: rgb(245, 0, 0);
}

.post {
  margin: 8px;
  border-bottom: 2px solid #f3d9e2;
}

.comment-box {
  padding-top: 10px;
  border-top: 2px solid #f3d9e2;
}

.event-overview-text {
  text-decoration: none !important;
}

.event-overview-text > h2 {
  color: rgb(68, 60, 109);
}

.messenger-nav {
  max-height: 76vh;
  overflow: scroll;
  min-height: 76vh;
}

.chat-bubble {
  background-color: #faf8f6;
  border-radius: 15px;
  padding: 5px 20px 0;
  margin-top: 10px;
  max-width: 70%;
}

.chat-area-msg-display {
  max-height: 55vh;
  min-height: 55vh;
  flex-direction: column-reverse;
  display: flex;
  overflow: scroll;
}
.add-service-stuff-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.each-neighbor-card > div:hover {
  background-color: #f1f6f7;
}

.each-neighbor-card > div {
  border-bottom: 2px solid #f2f2f2;
}

.login-form {
  width: 35%;
  padding-left: 150px;
}

.profile-page-img-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.profile-page-img-container > img {
  width: 300px;
  height: 300px;
}

.profile-page-img-container > span {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3%;
}
.event-form-img-container {
  padding-top: 35px;
}

.event-list-h3 {
  color: gray;
}

.warning {
  color: red;
}
.event-img {
  width: 90%;
}

#guest-list-row {
  padding-right: 12%;
}

#comment-area {
  margin-bottom: 70px;
}

.guest-pic {
  width: 40px;
  height: 40px;
}

.flex-end-btn {
  display: flex;
  justify-content: flex-end;
}

.search-result-pic {
  width: 10vw;
  height: 10vw;
}

.fa-map-marker-alt,
.fa-credit-card {
  color: rgb(139, 202, 218);
}

.search-lend-help-title {
  margin-top: 5px;
  margin-bottom: 2px;
}

@media (min-width: 1000px) {
  #profile-left-top-container {
    padding-right: 10%;
  }

  .search-result-heading {
    padding: 5px 15%;
  }

  .neighbor-card {
    padding-left: 15%;
    padding-right: 15%;
  }

  .guest-pic {
    width: 50px;
    height: 50px;
  }

  #lend-help-profile-box {
    padding-right: 12%;
  }
}

@media (max-width: 770px) {
  .search-result-pic {
    width: 16vw;
    height: 16vw;
  }

  .credit-locat-display {
    font-size: 14px;
  }

  .h1-heading {
    font-size: 2rem;
  }

  .sub-heading {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .h2-heading {
    font-size: 1.5rem;
  }

  .overview-host-info {
    font-size: 1.1rem;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 10px;
  }

  #postal-code {
    color: black;
    font-weight: 400;
  }
}

@media (min-width: 600px) and (max-width: 770px) {
  #main-page-profile-pic {
    width: 17vw;
    height: 17vw;
  }

  .profile-page-img-container {
    position: relative;
    width: 250px;
    height: 250px;
  }

  .profile-page-img-container > img {
    width: 250px;
    height: 250px;
  }

  .signup {
    width: 75%;
    padding-left: 50px;
  }

  .login-form {
    width: 60%;
    padding-left: 50px;
  }
}

@media (max-width: 600px) {
  .neighbor-card {
    padding-left: 0;
    padding-right: 0;
  }
  .search-result-heading {
    padding: 0 3%;
    font-size: 2rem;
  }

  .login-form {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .signup {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .profile-page-img-container {
    margin: 0 auto;
    width: 70vw;
    height: 70vw;
  }

  .profile-page-img-container > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
  }
  .profile-detail-subhead {
    color: grey;
    font-size: 20px;
    padding-top: 15px;
  }
  .reference-heading {
    padding-top: 30px;
  }
  .event-img {
    width: 100%;
  }
  #join-info {
    padding-left: 0;
    padding-right: 0%;
  }

  #comment-area {
    margin-top: 10%;
  }

  .event-form-img-container {
    padding-top: 5px;
  }

  .event-info-container,
  .event-img-container {
    padding-left: 0;
    padding-right: 0;
  }

  .overview-event-img {
    width: 100%;
  }
  .home-side-nav {
    margin: 0%;
    width: 100%;
    margin-bottom: 10px;
  }
  .post-form {
    margin-top: 10px;
  }

  .search-result-pic {
    width: 25vw;
    height: 25vw;
  }

  .credit-locat-display {
    font-size: 12px;
  }
}
