.App > .nav-menu {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App > .navbar-brand {
  margin-bottom: 8px;
  font-size: 1.5rem;
}
.user-pic {
  border-radius: 50%;
}

.toolbox {
  color: #84bc9c;
}

.help-item {
  color: #bda0bc;
}
.guest {
  padding: 3%;
}

.event-links {
  color: white;
  /* text-decoration: none; */
}

#help-input {
  width: 70%;
}

#stuff-input {
  width: 70%;
}

.neighbor-card {
  padding-left: 15%;
  padding-right: 15%;
}

#pic-input {
  width: 220px;
}

.search-result-heading {
  font-family: Fantasy;
  padding: 5% 10%;
}

.App > footer {
  background-color: #efefef;
  padding: 0.6rem;
}
.App > footer > p {
  margin: 0.3rem 0;
}

.footer-link {
  text-decoration: none;
  color: black;
}
.footer-link:hover {
  color: #ff686b;
  text-decoration: none;
}

#join-button {
  border-color: grey;
  background-color: grey;
  color: white;
}

#joined-button {
  border-color: #2ec6b2;
  background-color: #2ec6b2;
  color: white;
}

.home-navbar {
  /* background-color: #f5cfce; */
  /* background-color: #044460 */
  /* background-color: rgba(238,099,099,0.3); */
  /* background-color: #CD5555   */
  /* background-color: #9db4ab */
  /* background-color: #89b0ae; */
  background-color: #6c9b9863;
}

#home {
  margin: 0%;

}

#logo-button {
  border: none;
  background-color: transparent;
}

.home-side-nav {
  margin: 5% 15%;
}

/* messenger */
.msg-select-each-container {
  display: flex;
}
#home-nav-button1:hover {
  background-color: #b45375;
  border-color: #b96884;
}

#home-nav-button2:hover {
  background-color: #b45375;
  border-color: #b96884;
}

#home-nav-button3:hover {
  background-color: #b45375;
  border-color: #b96884;
}

#home-nav-button4:hover {
  background-color: #5476ac;
  border-color: #5476ac;
}

#home-nav-button1 {
  background-color: #be5a7d;
  border-color: #bd8196;
  color: white;
}

#home-nav-button2 {
  background-color: #be5a7d;
  border-color: #bd8196;
  color: white;
}

#home-nav-button3 {
  background-color: #be5a7d;
  border-color: #bd8196;
  color: white;
}

#home-nav-button4 {
  background-color: #447bd3;
  border-color: #6d90c9;
  color: white;
}

.date {
  color: grey;
  font-weight: 600;
}

.post {
  margin: 3%;
  border-bottom: 2px solid #f3d9e2;
}

.event-preview {
  text-decoration: none;
}


@media (max-width: 600px) {
  #stuff-input {
    width: 100%;
  }
  #help-input {
    width: 100%;
  }
  .neighbor-card {
    padding-left: 0;
    padding-right: 0;
  }
  .search-result-heading {
    padding: 5%;
  }
}
