.App > .nav-menu {
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 0;
}

.App > .navbar-brand {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.background-image {
  background-image: url("/images/background-picture.jpg");
  margin: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}

.signup {
  /* font-weight: bold; */
  width: 50%;
  padding-left: 150px;
}

h1 {
  color: rgb(68, 60, 109);
}

#postal-code {
  color: white;
  font-weight: 600;
}

.user-pic {
  border-radius: 50%;
}

.toolbox {
  color: #84bc9c;
}

.help-item {
  color: #bda0bc;
}
.guest {
  padding: 3%;
}

.event-links {
  color: white;
  /* text-decoration: none; */
}

#help-input {
  width: 70%;
}

#stuff-input {
  width: 70%;
}

.neighbor-card {
  padding-left: 15%;
  padding-right: 15%;
}

#pic-input {
  width: 220px;
}

.search-result-heading {
  padding: 5% 10%;
}

.App > footer {
  background-color: #efefef;
  padding: 0.2rem 0.4rem;
  flex: 0;
}
.App > footer > p {
  margin: 0.1rem 0;
  font-size: 13px;
}

.footer-link {
  text-decoration: none;
  color: black;
}
.footer-link:hover {
  color: #ff686b;
  text-decoration: none;
}

#join-button {
  border-color: grey;
  background-color: grey;
  color: white;
}

#joined-button {
  border-color: #2ec6b2;
  background-color: #2ec6b2;
  color: white;
}

.home-navbar {
  /* background-color: #f5cfce; */
  /* background-color: #044460 */
  /* background-color: rgba(238,099,099,0.3); */
  /* background-color: #CD5555   */
  /* background-color: #9db4ab */
  /* background-color: #89b0ae; */
  background-color: #6c9b9863;
  min-height: 85vh;
}

#home {
  margin: 0%;
  min-height: 85vh;
}

#logo-button {
  border: none;
  background-color: transparent;
}

.home-side-nav {
  margin: 5% 15%;
}

/* messenger */
.flex-display-container {
  display: flex;
}
#home-nav-button1:hover {
  background-color: #b45375;
  border-color: #b96884;
}

#home-nav-button2:hover {
  background-color: #b45375;
  border-color: #b96884;
}

#home-nav-button3:hover {
  background-color: #b45375;
  border-color: #b96884;
}

#home-nav-button4:hover {
  background-color: #5476ac;
  border-color: #5476ac;
}

#home-nav-button1 {
  background-color: #be5a7d;
  border-color: #bd8196;
  color: white;
}

#home-nav-button2 {
  background-color: #be5a7d;
  border-color: #bd8196;
  color: white;
}

#home-nav-button3 {
  background-color: #be5a7d;
  border-color: #bd8196;
  color: white;
}

#home-nav-button4 {
  background-color: #447bd3;
  border-color: #6d90c9;
  color: white;
}

.message-selector > div:hover {
  background-color: #d5f2e3;
}
.date {
  color: rgb(110, 110, 110);
  font-weight: 600;
}

.bin {
  background-color: transparent;
  border: none;
  size: 50%;
}

.username {
  color: rgb(68, 60, 109);
  font-weight: bold;
}

.text-decoration-none {
  text-decoration: none !important;
}

.bin:hover {
  color: rgb(245, 0, 0);
}

.post {
  margin: 8px;
  border-bottom: 2px solid #f3d9e2;
}

.comment-box {
  padding-top: 10px;
  border-top: 2px solid #f3d9e2;
}

.event-overview-text {
  text-decoration: none !important;
}

.event-overview-text > h2 {
  color: rgb(68, 60, 109);
}

/* .event-overview {
  text-decoration: none;
} */

.chat-bubble {
  background-color: #faf8f6;
  border-radius: 15px;
  padding: 5px 20px 0;
  margin-top: 10px;
}

.chat-area-msg-display {
  max-height: 55vh;
  min-height: 55vh;
  flex-direction: column-reverse;
  display: flex;
  overflow: scroll;
}
.add-service-stuff-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.each-neighbor-card > div:hover {
  background-color: #f1f6f7;
}

.login-form {
  width: 35%;
  padding-left: 150px;
}

@media (max-width: 600px) {
  #stuff-input {
    width: 100%;
  }
  #help-input {
    width: 100%;
  }
  .neighbor-card {
    padding-left: 0;
    padding-right: 0;
  }
  .search-result-heading {
    padding: 5%;
  }

  .add-service-stuff-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .login-form {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .signup {
    /* background-color: rgba(255, 255, 255, 0.342); */
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #postal-code {
    color: black;
    font-weight: 100;
  }
}
